## Handling JSON DATASETS

In [1]:
import pandas as pd

In [4]:
pd.read_json('../Datasets/train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## Direct from url/Server

In [9]:
pd.read_json('https://raw.githubusercontent.com/sharmadhiraj/free-json-datasets/refs/heads/master/datasets/nepse-listed-companies-2021.json')

,name,symbol,category,logo
0,10 % NMB DEBENTURE 2085,NMBD2085,Corporate Debenture,
1,10% Himalayan Bank Debenture 2083,HBLD83,Corporate Debenture,
2,10% Laxmi Bank Debenture 2086,LBLD86,Corporate Debenture,
3,10% Nabil Debenture 2082,NBLD82,Corporate Debenture,
4,10% Nepal SBI Bank Debenture 2086,SBIBD86,Corporate Debenture,
...,...,...,...,...
321,Upper Tamakoshi Hydropower Ltd,UPPER,Hydro Power,http://www.nepalstock.com/uploads/images/compa...
322,Vijaya laghubitta Bittiya Sanstha Ltd.,VLBS,Microfinance,http://www.nepalstock.com/uploads/images/compa...
323,Wean Nepal Laghubitta Bittiya Sanstha Limited,WNLB,Microfinance,http://www.nepalstock.com/uploads/images/compa...
324,Womi Microfinance Bittiya Sanstha Ltd.,WOMI,Microfinance,http://www.nepalstock.com/uploads/images/compa...
325,Yak And Yeti Hotel Limited,YHL,Hotels,

## Handling SQL DATASETS

### !pip install mysql.connector

In [16]:
import mysql.connector

In [17]:
mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [18]:
conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [20]:
pd.read_sql_query('SELECT * FROM city WHERE CountryCode="IND" ', conn)

C:\Users\Parth chauhan\AppData\Local\Temp\ipykernel_28368\3009966582.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SELECT * FROM city WHERE CountryCode="IND" ', conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]